.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-flow: column;
}

.justify-center{
    justify-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.order-1{
    order: 1
}

.order-2{
    order: 2;
}